body {
  background-color: @background_color;
}
a:hover {
  color: @hover_color !important;
}
a.active:hover {
  color: @primary_color !important;
}
.full-container {
  width: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.transition {
  transition:all .3s;
  -moz-transition:all .3s;
  -webkit-transition:all .3s;
  -o-transition:all .3s;
}
.pdTop20 {
  padding-top: @paddingTop_20;
}
.w300 {
  width: 300px;
}
.textOverflow {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.text2Overflow{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearboth {
	clear: both;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(255,255,255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}